<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CoreWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CoreWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44311/CoreWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CoreWebServiceSoap"
                contract="ServicioDelCore.CoreWebServiceSoap" name="CoreWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>